<br><br><br><br>
<div id="carouselFeatures" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h1 class="display-4">Player Search <span class="fa fa-users"></span></h1>
      <h4 class="text-bold">Available for everyone!</h4>
      <p class="font-weight-light">As an registered user you have access to even more features and useful helpers!<br>Click <a href="#">here</a> to start this tool.</p>
    </div>
    <div class="carousel-item">
      <h1 class="display-4">Player Spy <span class="fa fa-user-secret"></span></h1>
      <h4 class="text-bold">For donators only</h4>
      <p class="font-weight-light">Track players based on their bash and points activity to get some useful informations!<br>More about this tool <a href="#">here</a>.</p>
    </div>
    <div class="carousel-item">
      <h1 class="display-4">Leaderboards <span class="fa fa-trophy"></span></h1>
      <h4 class="text-bold">Available for everyone!</h4>
      <p class="font-weight-light">Leaderboads for players and alliances for all supported worlds.<br>You can get to this feature by clicking <a href="/playerranking/{{world}}">here</a>.</p>
    </div>
  </div>
</div>
