<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    {{#if world}}
    {{> navbar}}
    {{/if}}

    <div class="container">
      <div class="row mt-5"></div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-2">GrepoGod Donations</h1>
          {{#if world}}
          <p class="text-muted" style="font-size: 13px">You can go back to your dashboard by clicking <a href="/dashboard/{{world}}">here.</a></p>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-2">
          <div class="mt-4 list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-free-list" data-toggle="list" href="#list-free" role="tab" aria-controls="free">Free</a>
            <a class="list-group-item list-group-item-action" id="list-registered-list" data-toggle="list" href="#list-registered" role="tab" aria-controls="registered">Registered</a>
            <a class="list-group-item list-group-item-action" id="list-premium-list" data-toggle="list" href="#list-premium" role="tab" aria-controls="premium">Support us!</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-free" role="tabpanel" aria-labelledby="list-free-list">
              <img class="mr-3 mt-3 float-left" src="/img/plans/free.png"></img>
              <h1 class="display-4">Guest</h1>
              <h2 class="text-bold">¡nada!</h2>
              <p class="font-weight-light">As a guest you can already use some of our features like leaderboards and player search!<br>You can find more informations about our free tools <a href="#">here</a>.</p>
            </div>
            <div class="tab-pane fade" id="list-registered" role="tabpanel" aria-labelledby="list-registered-list">
              <img class="mr-3 mt-3 float-left" src="/img/plans/registered.png"></img>
              <h1 class="display-4">Registered</h1>
              <h2 class="text-bold">Create an account, it's free</h2>
              <p class="font-weight-light">As an authenticated user you have access to even more features and useful helpers!<br>Learn more about them <a href="#">here</a>.</p>
            </div>
            <div class="tab-pane fade" id="list-premium" role="tabpanel" aria-labelledby="list-premium-list">
              <img class="mr-3 mt-3 float-left" src="/img/plans/donator.png"></img>
              <h1 class="display-4">Donator</h1>
              <h3 class="text-bold">4,99€/Month</h3>
              <p class="font-weight-light mt-3">Our donator subscription grants you access to more features on GrepoGod.com!<br>You can learn more about our donator plan <a href="#">here</a>.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          {{> features_slider}}
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>

    {{> js}}

  </body>
</html>
