<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>
    <div class="container">
      <div class="row" style="height: 100px"></div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>World Selection</h1>
          <p>To continue select the world you want to know more about! You can change the selected world later on...</p>
          <p class="text-muted" style="font-size: 13px">You can go back by clicking <a href="/">here</a>.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-1">
          <img src="/img/countries/de.svg" class="img-fluid rounded border" alt="DE Flag">
        </div>
        <div class="col-md-5">
          <div class="btn-group mt-2" role="group">
            <button type="button" class="btn btn-secondary disabled">de34</button>
            <button type="button" class="btn btn-secondary disabled">de40</button>
            <button type="button" class="btn btn-secondary disabled">de69</button>
            <button type="button" class="btn btn-secondary disabled">de70</button>
            <button type="button" class="btn btn-secondary disabled">de73</button>
            <button type="button" class="btn btn-secondary disabled">de77</button>
            <button type="button" class="btn btn-secondary disabled">de78</button>
            <button type="button" class="btn btn-secondary disabled">de79</button>
            <button type="button" class="btn btn-secondary disabled">de80</button>
            <button type="button" class="btn btn-secondary disabled">de81</button>
            <button type="button" class="btn btn-secondary disabled">de82</button>
          </div>
          <div class="btn-group mt-1" role="group">
            <button type="button" class="btn btn-secondary disabled">de83</button>
            <button type="button" class="btn btn-secondary disabled">de84</button>
            <button type="button" class="btn btn-secondary disabled">de85</button>
            <button type="button" class="btn btn-secondary disabled">de86</button>
            <button type="button" class="btn btn-secondary disabled">de87</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='/dashboard/de88'">de88</button>
            <button type="button" class="btn btn-secondary">de89</button>
            <button type="button" class="btn btn-secondary disabled">de90</button>
            <button type="button" class="btn btn-secondary disabled">de91</button>
            <button type="button" class="btn btn-secondary disabled">de92</button>
            <button type="button" class="btn btn-secondary disabled">de93</button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-1">
          <img src="/img/countries/gb.svg" class="img-fluid rounded border" alt="GB Flag">
        </div>
        <div class="col-md-5">
          <div class="btn-group mt-2" role="group">
            <button type="button" class="btn btn-secondary disabled">en32</button>
            <button type="button" class="btn btn-secondary disabled">en41</button>
            <button type="button" class="btn btn-secondary disabled">en45</button>
            <button type="button" class="btn btn-secondary disabled">en94</button>
            <button type="button" class="btn btn-secondary disabled">en95</button>
            <button type="button" class="btn btn-secondary disabled">en96</button>
            <button type="button" class="btn btn-secondary disabled">en98</button>
            <button type="button" class="btn btn-secondary disabled">en99</button>
            <button type="button" class="btn btn-secondary disabled">en100</button>
            <button type="button" class="btn btn-secondary disabled">en101</button>
          </div>
          <div class="btn-group mt-1" role="group">
            <button type="button" class="btn btn-secondary disabled">en102</button>
            <button type="button" class="btn btn-secondary disabled">en103</button>
            <button type="button" class="btn btn-secondary disabled">en104</button>
            <button type="button" class="btn btn-secondary disabled">en105</button>
            <button type="button" class="btn btn-secondary disabled">en106</button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-1">
          <img src="/img/countries/fr.svg" class="img-fluid rounded border" alt="FR Flag">
        </div>
        <div class="col-md-5">
          <div class="btn-group mt-2" role="group">
            <button type="button" class="btn btn-secondary disabled">fr32</button>
            <button type="button" class="btn btn-secondary disabled">fr37</button>
            <button type="button" class="btn btn-secondary disabled">fr39</button>
            <button type="button" class="btn btn-secondary disabled">fr90</button>
            <button type="button" class="btn btn-secondary disabled">fr93</button>
            <button type="button" class="btn btn-secondary disabled">fr94</button>
            <button type="button" class="btn btn-secondary disabled">fr96</button>
            <button type="button" class="btn btn-secondary disabled">fr97</button>
            <button type="button" class="btn btn-secondary disabled">fr98</button>
            <button type="button" class="btn btn-secondary disabled">fr99</button>
            <button type="button" class="btn btn-secondary disabled">fr100</button>
          </div>
          <div class="btn-group mt-1" role="group">
            <button type="button" class="btn btn-secondary disabled">fr101</button>
            <button type="button" class="btn btn-secondary disabled">fr102</button>
            <button type="button" class="btn btn-secondary disabled">fr103</button>
            <button type="button" class="btn btn-secondary disabled">fr104</button>
            <button type="button" class="btn btn-secondary disabled">fr105</button>
            <button type="button" class="btn btn-secondary disabled">fr106</button>
            <button type="button" class="btn btn-secondary disabled">fr107</button>
            <button type="button" class="btn btn-secondary disabled">fr108</button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    {{> js}}

  </body>
</html>
